#Header {
	width: 500px;
	max-width: 500px;
}

#LeftNav {
	padding-bottom: 8px;
	float: left;
	width: 400px;
}

#Content {
	padding: 15px;
	width: 700px;
	text-decoration: underline;
	text-shadow: 2px 2px gray;
}

#Header, #LeftNav, #Content, #Footer {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: groove 8px black;
	border-radius: 25px;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

#Header h1{
	font-size: 60px;
	font-family: "Passion One";
	color: #FFBC00;
	font-weight: bold;
}

p {
	color: white;
	font-family: "Ariel";
	font-weight: bold;
}

h3 {
	color: #FFBC00;
	font-size: 40px;
	font-family: "Passion One";
	margin-bottom: 0px;
}

div {
	background-color: #8E41D5;
}

body {
	background-image: url('dark_wood.png');
	opacity: 0.7;
}

a {
	color: white;
	font-weight: bold;
	font-size: 24px;
}

a:visited {
	color: darkblue;
}

a:hover {
	color: yellow;
}
